@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

:root {
    --white: #eeeeee;
    --gray: #17191d;
    --light-gray: #26282c;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    display: block;
    color: var(--white);
    text-decoration: none;
}

li {
    display: block;
}

figure {
    margin: 0;
}

h1 {
    font-size: 40px;
    padding-left: 10px;
    color: var(--white);
}

h2,
h3 {
    color: #fd7014;
}

p {
    margin: 0;
    color: var(--white);
}

.header {
    background-color: var(--gray);
}
.header--width {
    height: 100px;
    display: flex;
    padding: 0 20px;
}

.header__svg {
    margin: 20px 0;
}
.header__nav {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    background-color: var(--gray);
}
.header__nav--hidden {
    display: none;
}
.header__nav__list {
    margin:0;
    padding: 0;
    justify-content: center;
}
.header__nav__list li {
    text-align: center;
    border-top: 3px solid var(--light-gray);

}
.header__nav__list li a {
    height: 45px;
    line-height: 45px;
}
.header__hamburger_menu {
    height: fit-content;
    margin: 41px 0;
    margin-left: auto;
}

.main {
    background-color: var(--light-gray);
    padding-top: 20px;
    padding: 0 20px;
}

.beer__p {
    font-size: 20px;
    text-align: center;
}

.beer {
    padding-top: 20px;
}

.beer__figure {
    width: 100px;
    margin: 15px auto;
}


.beer__btn {
    color: #fd7014;
    width: 100px;
    border: 3px solid #fd7014;
    border-radius: 30px;
    padding: 10px 1em;
    margin: 0 auto;
    text-align: center;
}

.gallery__image {
    width: 100px;
    margin: 20px auto;
}

.visit_us {
    padding-bottom: 10px;
}

.visit_us__text {
    padding: 5px 0;
}

.footer {
    background-color: var(--gray);
    padding: 10px 20px;
    text-align: center;
}

.footer p {
    padding: 10px 0;
}

.footer__icons {
    display: flex;
    justify-content: center;
}

.footer__icon {
    color: white;
    font-size: 2em;
    padding-right: 20px;
}
.footer__img_map {
    max-width: 300px;
    margin: 0 auto;
}

@media (min-width: 540px) {
    .header--width {
        max-width:1000px;
        display: flex;
        margin:0 auto;
    }
    .header__nav {
        display: block;
        align-self: center;
        width: calc(540px - 80px - 90px);
        margin-left: auto;
        position: initial;
    }

    .header__nav__list {
        display: flex;
        color: white;
        padding: 0;
        justify-content: space-evenly;
    }
    .header__nav__list li{
        border: none;
    }
    .gallery__container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
    }
    .gallery__image > img {
        height: 100%;
        width: auto;
    }
    .gallery__image {
        height: 50vw;
        max-height: 500px;
        width: auto;
    }
    .main > * {
        max-width: 1000px;
        margin: 0 auto;
    }
    .gallery__image:last-child {
        max-height: 400px;
    }
    .header__hamburger_menu {
        display: none;
    }
}